@charset "UTF-8";

@import url("https://js.kintone.com/font-awesome/v4.7.0/css/font-awesome.min.css");

*[class|="kuc"] {
  color: #333;
  word-wrap: break-word;
  font-size: 16px;
}

:lang(en) *[class|="kuc"] {
  font-family: 'HelveticaNeueW02-45Ligh', Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

:lang(en) *[class|="kuc"] .label{
    font-family: HelveticaNeueW02-55Roma, Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

:lang(ja) *[class|="kuc"] {
    font-family: 'メイリオ', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

:lang(ja) *[class|="kuc"] .label{
    font-family: 'メイリオ','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
}

:lang(zh) *[class|="kuc"] {
    font-family: '微软雅黑', 'Microsoft YaHei', '新宋体', NSimSun, STHeiti, Hei, 'Heiti SC', sans-serif;
}

:lang(zh) *[class|="kuc"] .label {
    font-family: '微软雅黑','Microsoft YaHei','新宋体',NSimSun,STHeiti,Hei,'Heiti SC',sans-serif;
}

/* Item */
.kuc-list-outer {
    margin-top: -6px;
    padding: 12px 0 0 0;
    border: 1px solid #e3e7e8;
    background-color: #fff;
    box-shadow: 1px 1px 12px #f5f5f5 inset, -1px -1px 12px #f5f5f5 inset;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.kuc-list-item {
    position: relative;
    font-size: 14px;
    padding: 1px 16px 8px 10px;
    line-height: 1;
    cursor: pointer;
}
.kuc-list-item-selected {
    background: none;
}
.kuc-list-item .kuc-icon-check {
    display: none;
}
.kuc-list-item .kuc-list-item-label {
    font-size: 13px;
    word-wrap: normal;
}
.kuc-list-item-selected span {
    color: #3498db;
}
.kuc-list-item-disable span {
    color: #888888;
}
.kuc-list-item-disable.kuc-list-item-selected .kuc-list-item-label,
.kuc-list-item-selected .kuc-list-item-label {
    margin-left: 16px;
}
.kuc-list-item-disable.kuc-list-item-selected .kuc-icon-check,
.kuc-list-item-selected .kuc-icon-check {
    display: block;
    font-size: 13px;
    line-height: 1.5;
    position: absolute;
}

.kuc-arrow {
    color: #727272;
    position: relative;
    margin: 10px 8px 0 0;
}

.kuc-arrow::before {
    content: '';
    position: absolute;
    right: 0;
    width: 8px;
    height: 8px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
}

.kuc-arrow.right:before {
    top: 4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.kuc-arrow.down:before {
    top: 2px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.kuc-btn.normal,
.kuc-btn.submit {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    white-space: nowrap;
}
.kuc-btn.normal:disabled,
.kuc-btn.submit:disabled,
.kuc-btn.normal:disabled:hover,
.kuc-btn.submit:disabled:hover {
    color: #bababa;
    border: 1px solid #e3e7e8;
    background-color: #dbdcdd;
    cursor: not-allowed;
    box-shadow: none;
}
.kuc-btn.normal {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 16px;
    min-width: 163px;
    height: 48px;
    outline: none;
    border: 1px solid #e3e7e8;
    background-color: #f7f9fa;
    box-shadow: 1px 1px 1px #fff inset;
    color: #3498db;
    text-align: center;
    line-height: 48px;
}
.kuc-btn.normal:hover {
    background-color: #c8d6dd;
    box-shadow: none;
    cursor: pointer;
}

.kuc-btn.submit {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 16px;
    min-width: 163px;
    height: 48px;
    outline: none;
    border: 1px solid #e3e7e8;
    background-color: #3498db;
    box-shadow: 1px 1px 1px #8ccbee inset;
    color: #fff;
    text-align: center;
    line-height: 48px;
}
.kuc-btn.submit:hover {
    background-color: #1d6fa5;
    cursor: pointer;
}
.kuc-input-outer {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.kuc-input-text {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0 8px;
    height: 48px;
    outline: none;
    border: 1px solid #e3e7e8;
    background-color: #fff;
    box-shadow: 4px 4px 12px #f5f5f5 inset, -4px -4px 12px #f5f5f5 inset;
    font-size: 14px;
}
.kuc-input-text:disabled {
    cursor: not-allowed;
    background-color: #E7E6E6;
    box-shadow: none;
}

.kuc-dropdown-outer {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.kuc-dropdown {
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 0;
    padding: 0 16px;
    min-width: 80px;
    max-width: 280px;
    height: 48px;
    border: 1px solid #e3e7e8;
    background-color: #f7f9fa;
    box-shadow: 1px 1px 1px #fff inset;
    color: #3498db;
    text-overflow: ellipsis;
}
.kuc-dropdown:hover {
    background-color: #f4f7f8;
    cursor: pointer;
}
.kuc-dropdown.kuc-dropdown-disable,
.kuc-dropdown.kuc-dropdown-disable:hover {
    cursor: not-allowed;
    border: none;
    background-color: #dbdcdd;
}
.kuc-dropdown.kuc-dropdown-disable .kuc-dropdown-selected-name {
    color: #888;
}
.kuc-dropdown-selected {
    min-width: 118px;
    height: 48px;
    padding-right: 48px;
}
.kuc-dropdown-selected-name {
    color: #3498db;
    font-size: 14px;
    line-height: 48px;
}
.kuc-dropdown-selected-name .icon-arrow-down {
    position: absolute;
    right: 15px;
}
.kuc-dropdown-selected-name .icon-arrow-down i {
    font-size: 22px;
    vertical-align: middle;
}
.kuc-dropdown-sub-container .kuc-list-outer {
    position: absolute;
    min-width: 280px;
    z-index: 2000;
}

/*# sourceMappingURL=/src.77de5100.css.map */